:root {
    --header-height: 4.5em;
}
@font-face{
    font-family: coolz;
    src:url(../../assets/ttf/HANCooljazzM.ttf);
}

html, body {
    background: linear-gradient(50deg,#e0e0e0, #cccccc);
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y:hidden;
}
a{text-decoration: none; color:inherit;}
.coolz{
    font-family:coolz;
}

.back {
    position:fixed;
    top:var(--header-height);
    background: linear-gradient(50deg,#e0e0e0, #cccccc);
    height: 100%;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 12em 3em calc(100% - 29em) 7em 7em;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    width: 100%;
    background-color: #404040;
    transform: translateY(calc(-1 * var(--header-height)));
    animation: headerView 1s forwards;
    z-index: 1000;
}
@keyframes headerView{
    to{
        transform:translate(0px);
    }
}
#header .logo{    
    margin-left:20px;    
    display:flex;
    align-items:center;
    cursor:pointer;
}
#header .logo #imageLogo{
    background-image: url(../../assets/image/master/INJELOGO.png);
    background-size: 3.2em 3em;    
    width:3.2em;
    height:3em;    
}
#header .logo:hover #imageLogo{
    animation:logoAni 0.2s alternate 4;
}
@keyframes logoAni{
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
#header .logo span{    
    padding-left:15px;
    color: #fff;
    font-weight:bold;
    font-size:1.9em;
    word-spacing:5px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
}
#header .login {        
    grid-column:5/6;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-size: 1.3em;    
    margin-right: 25px;
    padding: 0 1em;    
    transition: color 1s;
}
#header .login:hover{
    color:#fff;
    text-shadow: 0px 0px 3px #fff;
}
#header #adminPage{
    background-image:url('../image/master/admin.png');
    display:block;
    background-size:2.2em 2em;
    height:2em;
    width:2.2em;
}
#header .userPart {
    grid-column: 4/5;
    text-align: right;
    color: rgba(255,255,255,0.9);
}
#header .userPart a{    
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:5em;
    display:inline-block;        
}
#header .userPart span {
    display: none;
}
#header .userPart a + span{
    display:inline-block;
    position:relative;
    top:-3.5px;
    left:-6px;
}
/*#header .userPart span{
    display:none;
}
#header .userPart a + span{    
    display:inline-block;    
}*/
#form1 {
    width: 100%;
    height: calc(100% + var(--header-height));
    display: block;
    margin-top: var(--header-height);
    transform: translateY(70px);
    opacity: 0;
    animation: changePage 1s forwards;
}    

@keyframes changePage{    
    to{
        transform:translateY(0px);
        opacity:1;
    }
}

.adminControl {
    display: block;
    position: sticky;
    top: calc(var(--header-height) + 10px);
    left: calc(100% - 2em);    
    width:1.5em;
    height:1.5em;
}
.adminControl .adminControlBtn {
    display: block;
    background-size: 1.5em 1.5em;
    width: 1.5em;
    height: 1.5em;
}
.adminControl .save {

}
.adminControl .updata {
    background-image: url(../../assets/image/master/updata.png);
}